body {
background-color: #1F2125;
color: white;
font-family: 'Roboto', sans-serif;
margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
ul{
list-style: none;
}
a {
text-decoration: none;
color: white;
}

/* #C3A261 */
h4{
margin: 0;
}

nav {
position: fixed;
background-color: rgba(0,0,0,0);
width: 100%;
z-index: 3;
}

.footerLinkItem #active:hover {
    color: #C3A261;
}

.footerLinkItem #active {
    text-decoration: none;
    color: #fff;
}

#navContent {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    left: 0%;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
    background-color: rgba(0,0,0,0);
}

.mobileContainer {
font-size: 1.5rem;
display: flex;
width: 70%;
height: 0vh;
flex-direction: column;
justify-content: center;

}

#mobile1 {
    display: none;
}
#mobile2 {
    display: none;
    white-space: nowrap;
}



#burgerMenu {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.line{
width: 100%;
height: 5px;
background-color: white;
}

.logo {
margin: 25px 0 25px 0;
display: inline-flex;
align-items: center;
width: 8.5%;
height: 50%;
justify-content: flex-end;
cursor: pointer;
}

    .logo > h2 {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 10px;
        cursor: pointer;
    }
    .logo > img {
        max-height: 50%;
        max-width: 100%;
        cursor: pointer;
    }




.navigation {
display: inline-flex;
width: 40%;
height: auto;
justify-content: center;
padding: 0;
flex-direction: column;
    
}
.navigationItem > a {
color: white;
font-weight: 700;
}
.navigationItem:hover a {
color: #C3A261;
}
.navigationItem {
margin-bottom: 10px;
padding: 5px;
}
.navigationItem:hover {
    background-color: white;
    color: #C3A261;
}

.login {
display: inline-flex;
justify-content: center;
padding: 0;
flex-direction: column;
height: auto;
}

.loginItem {
margin-left: 0px;
margin-bottom: 10px;
padding: 5px;
}
.loginItem > a {
    color: white;
    font-weight: 700;
}
.loginItem:hover {
background-color: white;
color: #C3A261;
}

#page {
    grid-template-columns: repeat(10, 1fr );
    grid-template-rows: auto auto auto auto auto;
    display: grid;
    max-width: 100%;
}


/*---------------------------------------------             Hero Slider             ------------------------------------------------------------*/
#hero {
    grid-column: 1/11;
    grid-row: 1/2;
    height: 100vh;
}

.heroContent {
position: absolute;
grid-template-columns: repeat(10, 0);
grid-template-rows: repeat(10, 10vh);
display: grid;
z-index: 1;
}

.slider {
overflow: hidden;
position: relative;
width:1fr;
height: 100vh;
}
.content {
position: absolute;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.sliderElement {
position: absolute;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
transition: 1s;
}
.sliderText {
position: absolute;
z-index: 1;
font-size: 25vw;
color: #C3A261;
margin: 0;

}
.sliderImg {
position: absolute;
z-index: 2;
max-width: 50vw;
}

.sideText {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bigParagraph {
    display:none;
margin: 0 0 0 8vw;
transform: rotate(-90deg);
transform-origin: bottom left;
}

.bigThinParagraph {
    display:none;
margin: 0px 0px 0px 6vw;
transform: rotate(-90deg);
transform-origin: bottom left;
font-weight: 300;
}

.slideCounter {
position: absolute;
display: flex;
justify-content: flex-end;
margin-top: 100px;
width: 100%;
grid-column: 9/10;
}
#currentSlide{
font-size: 5rem;
    
}
.classesRemaining{
font-size: 2rem;
margin-top: 10px;
}




.slideDetails {
grid-column: 3 / 10;
grid-row: 1/9;
position: absolute;
display: flex;
flex-direction: column;
align-self: flex-end;
}
.productShort {
font-weight: 300;

}

.navigationLinks {
grid-column: 3 / 11;
grid-row: 9/10;
position: absolute;
display: flex;
justify-content: center;
align-self: flex-end;
}
.navigationLinks > a {
    white-space: nowrap;
    color: white;
    margin-right: 4vw;
}
#primaryLink, #secondaryLink {
    cursor: pointer;
}
.build {
    width: 150px;
    height: 50px;
    border: 2px solid #C3A261;
    color: #fff;
    background-color: rgba(255, 0, 0, 0);
    margin: 50px 0 0 0;
    cursor: pointer;
}

.build:hover a{
    background-color: rgba(255, 0, 0, 0);
    color: #4580D9;
}

.slideController {
    position: absolute;
    grid-column: 9/10;
    grid-row: 8/9;
    width: 100%;
    display: none;
    flex-direction: column;
}
.slideControllerButtons {
width: 100%;
display: flex;
justify-content: space-between;
}
.sliderControlLabel{
margin: 10px;
}

.control {
width: 50px;
height: 50px;
border: solid 2px #C3A261;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: .5s;
}
.control:hover {
        
    background-color: #C3A261;
}

.productTitle {
    display:none;
/*font-size: 2em;
color: #C3A261;*/
}

/*---------------------------------------------             DISCLAIMER             ------------------------------------------------------------*/

#disclaimer {
grid-column: 1/ 11;
grid-row: 2/3;
background: linear-gradient(0deg, #1F2125 0%, #343841 100%);
height: auto;
padding: 100px 0 100px 0;
text-align: center;
display: flex;
flex-direction: column;
justify-content : center;
align-items: center;
}
.disclaimer{
font-size: 2rem;
}
.text{
width:60%;
margin-top: 50px;
font-weight: 400;
}
/*---------------------------------------------             ProductDisplay             ------------------------------------------------------------*/
#productDisplay {
grid-column: 2/10;
grid-row: 3/4;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}
.sortProduct{
width: 100%;
}
.sortContent {
display: flex;
align-items: flex-end;
justify-content: space-between;
}
.sortBy{
margin-bottom: 10px;
}
.sortType {
display: flex;
align-items: center;
}
.sortGrid {
width: 40px;
height: 40px;
border: solid 2px #C3A261;
margin-right: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 10px;
cursor: pointer;
}

.sortGrid:hover {
    background-color: #C3A261;
}
    .sortGrid:hover  div div {
        background-color: #1F2125;
    }


.sortGridRow{
    
display: flex;
}

.sortGridBox {
width: 10px;
height: 10px;
background-color: #C3A261;
margin: 1px;
}



.sortList {
width: 40px;
height: 40px;
border: solid 2px #C3A261;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
cursor: pointer;
}

.sortList:hover {
    background-color: #C3A261;
}
    .sortList:hover div div {
        background-color: #1F2125;
    }


    .sortListBox {
        width: 5px;
        height: 5px;
        background-color: #C3A261;
        margin: 1px;
    }
.sortListRectangle {
width: 15px;
height: 5px;
background-color: #C3A261;
margin: 1px;
}

#sortOrder {
width: 150px;
background-color: #1F2125;
color: #C3A261;
border: none;
margin-left: 25px;
}
.selector {
color: #C3A261;
}

.separator {
width: 100%;
    
height: 2px;
background-color: #C3A261;
}

#arrowButton {
    position:absolute;
    left:48.5vw;
    top:85vh;
    width: 50px;
    height: 21.5px;
    background-image: url(../Images/arrow.svg);
    background-size: 100%;
}

.products {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
    display: flex;
    /*flex-wrap: wrap;*/
}

.productContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    background: linear-gradient(90deg, #1F2125 0%, #1F2125 40%, #343841 100%);
    border-radius: 25px;
}



.productImage {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productImage > img {
max-width: 200px;
transition: 1s;
position: absolute;
}

.productImage > img:hover{
max-width: 220px;
}

.productDescription {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px 0 25px;
    border-radius: 15px;
}
.productDescription > h2 {
margin-bottom: 25px;
}

.shop {
    width: 150px;
    height: 50px;
    border: 2px solid #C3A261;
    border-radius: 50px;
    color:#fff;
    background-color: rgba(255, 0, 0, 0);
    font-weight: 700;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.5s;
}

#productDisplay > button:hover {
    background-color: #C3A261;
    color: white;
    transition: 0.5s;
}


/*---------------------------------------------             Premise             ------------------------------------------------------------*/



    #premise {
        grid-column: 1/11;
        grid-row: 4/5;
        background: linear-gradient(180deg, #1F2125 0%, #343841 100%);
        height: auto;
        margin-top: 100px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/*---------------------------------------------             footer             ------------------------------------------------------------*/
footer {
grid-column: 1/11;
grid-row: 5/6;
background-color: #343841;
display: flex;
flex-direction: column;
}
#share{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
}
.SocialMediaIcons {
display: flex;
flex-direction: row;
padding: 0;
width: 60%;
justify-content: space-between;
}
.MediaLink {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #C3A261;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
    .MediaLink:hover {
        color: #4580D9;
        background-color: #C3A261;
        transition: 0.5s;
    }

#footerContent{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
#footerlinks{
font-size:1.5rem;
}
.footerLinkItem{
margin: 15px 0 15px 0;
font-size: 1rem;
}
#footerContacts {
font-size: 1.5rem;
}
.footerContactsItem {
margin: 15px 0 15px 0;
font-size: 1rem;
}
/*---------------------------------------------             Responsive             ------------------------------------------------------------*/



/*###########################################################Product Page#######################################################################*/



#ProductShow {
grid-column: 1/11;
grid-row: 1/2;
height: 100vh;
background: linear-gradient(90deg, #1F2125 0%, #343841 100%);
display: flex;
align-items: center;
justify-content: center;
}

.ShowContainer {
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 80%;
width: 80%;
z-index: 1;
}

.showTop {
    margin-top: 50px;
}

.showDown{
width: 100%;
}

.showDown p {
        width: 180px;
}
.detailsContainer {
width: 100%;
display: flex;
justify-content: space-between;
align-items: flex-end;
}

.navigationLinksShow  {
display: flex;

}

.navigationLinksShow > form {
    margin-right: 25px;
}

/*button setup*/
button {
    border: 2px solid #C3A261;
    color: #fff;
    background-color: rgba(255, 0, 0, 0);
}

    button:hover {
        border: 2px solid #C3A261;
        background-color: #C3A261;
    }


.navigationLinksShow > a {
    height: 5vh;
    display: flex;
    align-items: center;
}
    .navigationLinksShow > a:last-child {
        color: #1F2125;
        font-weight: 700;
        width: 150px;
        height: 50px;
        border-radius: 500px;
        display: flex;
        justify-content: center;
        background-color: #4580D9;
        transition: 0.5s;
    }
        .navigationLinksShow > a:last-child:hover {
            color: #4580D9;
            background-color: white;
            transition: 0.5s;
        }

    .imageCenter {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        z-index: 0;
    }




#HighlightComponent {
grid-column: 1/11;
grid-row: 2/3;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.hlContainer {
width: 80vw;
height: 90vh;
background: linear-gradient(0deg, #1F2125 0%, #343841 100%);
display: flex;
align-items: center;
flex-direction: column;
}
.hlTitle{
margin-top: 100px;
}
.hlDesc{
margin-top: 25px;
}
#components {
grid-column: 2/10;
grid-row: 3/4;
height: auto;
display: flex;
justify-content: space-between;
margin-bottom: 25px;
}
.component {
width: 25vw;
height: 25vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;


}
.compTitle{
margin-bottom: 10px;
}
.compDesc {
margin-bottom: 25px;
}
#recommendations {
grid-column: 2/10;
grid-row: 4/5;
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 25px;
}

.productsRec {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 25px;
}


/*#############################################################################################################################################*/




/*------------------------------------------------------------------------------------------------------------*/

#storeDisclaimer {
    grid-column: 1/11;
    grid-row: 1/2;
    padding-top:150px;
    background: linear-gradient(0deg, #1F2125 0%, #343841 100%);
    height: 35vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#storeProductDisplay {
    grid-column: 2/10;
    grid-row: 2/3;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeProducts {
    margin: 50px 0 50px 0;
    display: flex;
    grid-column: 1/ 11;
    width: 80vw;
    grid-row: 3/4;
    flex-direction: column;
}



.storeProductContainer {
    display: inline-flex;
    height: auto;
    width: 100%;
    align-items: center;
    background: linear-gradient(90deg, #1F2125 0%, #343841 100%);
    margin-bottom: 25px;
    justify-content: space-between;
    border-radius: 25px;
    flex-direction: column;
}

    .storeProductContainer:nth-child(odd) {
        flex-direction: row-reverse;
        background: linear-gradient(-90deg, #1F2125 0%, #343841 100%);
        flex-direction: column;
    }

        .storeProductContainer:nth-child(odd) > a {
            justify-content: flex-end;
        }

    .storeProductContainer:nth-child(even) > div > div > form {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .storeProductContainer:nth-child(even) > div {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;

        
    }




.storeProductImage {
    position: relative;
    display: flex;
}



    .storeProductImage > img {
        max-width: 100%;
    }

.storeProductDescription {
    margin: 25px;
   
}



    .storeProductDescription > h2 {
        margin-bottom: 25px;
    }

.storeShop {
    width: 150px;
    height: 50px;
    border: 2px solid #C3A261;
    background-color: rgba(255, 0, 0, 0);
    font-weight: 700;
    border-radius: 50px;
    color: white;
    margin: 25px 0 0 25px;
    cursor: pointer;
    transition: 0.5s;
}
.storeButtonsList > form > button:hover {
    background-color: #C3A261;
    color: white;
    transition: 0.5s;
}



.storeButtonsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 35px 0 5px 0;
}



.storeWatchName {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2rem;
    color: #C3A261;
    margin: 0;
    width: 100%;
}

.storeWatchDesc {
    font-size: 1.3rem;
    width: 80%;
}


/*#############################################################################LOGIN  %%###########################################################*/


.form-control {
    background-color: #000000;
    color: white;
    border-radius: 25px;
    box-shadow: none;
    shape-outside: none;
    text-shadow: none;
    margin-bottom: 25px;
    width: 100%;
    padding: 5px;
    background-color: #1F2125;
}

.identityUl {
    padding: 0;
}

.identityCenter {
    margin: 15% 0 25px 0;
    text-align: center;
}

.identityText, .identityTitle {
    color: #C3A261;
    margin-bottom: 10px;
}

.identityTitle, .why {
    font-size: 2rem;
    font-weight: 400;
}

#identityContainer {
    grid-column: 2/10;
    grid-row: 1/2;
    margin: 10vh 0 10vh 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.identityForm {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    grid-row: 2/3;
}

.identityRegister {
    width: 50%;
    height: auto;
    display: block;
    justify-content: space-between;
    border: 1px solid #C3A261;
    margin: 5px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.identityLogin {
    background-color: #C3A261;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C3A261;
    margin: 5px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
}

.loginContent {
    margin: 0 auto;
    grid-column: 2/12;
    width: 100%;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
}

.idnetityFormRegistration {
    border: 1px solid #C3A261;
}

.form-RegGroup {
    color: #C3A261;
    margin: 0 auto;
}

.identityLetter {
    color: #C3A261;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.identityLoginBtn {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: none;
    color: #1F2125;
    padding: 10px 5px 10px 5px;
    margin: 20px 0 20px 0;
}

.identityRegBtn {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #C3A261;
    color: #fff;
    padding: 10px 5px 10px 5px;
    margin: 20px 0 20px 0;
}


/*///////////////////////////////////
                                                Contact
                                                                   /////////////////////////////////////*/


#contact {
    grid-column: 2/10;
    grid-row: 1/6;
    background-color: #1F2125;
    padding-top: 159px;
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;
}

#contact h3 {
    color: #C3A261;
}

#contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#contactContacts {
    font-size: 1.5rem;
}

#contactText{
    font-size: 1.5rem;
}

.contactTextItem {
    margin: 15px 0 15px 0;
    font-size: 1rem;
}

 ul#contactContact {
    padding-top: 25px;
}

ul#contactTexts {
    padding-top: 25px;
}

#map {
    height: 200px;
    border-radius: 25px;
}
/*///////////////////////////////////
                                                About
                                                                   /////////////////////////////////////*/


#about h2 {
    color: #C3A261;
}
#about {
    grid-column: 2/10;
    grid-row: 1/6;
    background-color: #1F2125;
    padding-top:100px;
    padding-bottom:500px;
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;

}

#aboutContent {
    font-size: 18px;
    color: #fff;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#TeamLits {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}

.teamElement {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20vw;
}

    .teamElement > img {
        max-height: 100%;
        max-width: 90%;
        margin-bottom: 3vh;
        min-width: 90%;
    }

.teamElement > p{
    font-size: medium;
}
/*///////////////////////////////////  Favorits  /////////////////////////////////////*/

.favorites h3 {
    color: #C3A261;
}
.favorites {
    grid-column: 2/10;
    grid-row: 1/6;
    background-color: #1F2125;
    padding-top:100px;
    padding-bottom:500px;
    display: flex;
    flex-direction: column;
    max-width: 1360px;
    margin: 0 auto;

}

/*####################################################################################################################################################*/
@media only screen and (min-width: 1200px) {
    nav {
    position: fixed;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    z-index: 3;
}
    .logo > img {
        max-height: 70%;
        max-width: 100%;
    }

    .heroContent {
        grid-template-columns: repeat(10, 9.8vw );
    }

    #mobile1 {
        display: inline-flex;
    }

    #mobile2 {
        display: inline-flex;
    }

#navContent {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    left: 10%;
    justify-content: space-between;
    align-items: flex-start;
        
        
}
#burgerMenu {
    display: none;
}

.mobileContainer {
    flex-direction: row;
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    margin-top: 20px;
}
    .logo {
        margin: 25px 0 0px 0;
    }
.navigation {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    flex-direction: row;
}
.navigationItem > a {
    color: white;
    font-weight: 400;
    font-size: 1rem;
}
.navigationItem:hover {
    background-color: rgba(0,0,0,0);
}
.navigationItem {
    margin-bottom: 0px;
    padding: 0px;
}
.login {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    height: 100px;
    flex-direction: row;
}
.loginItem {
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
}

    .loginItem > a {
        color: white;
        font-weight: 400;
        font-size: 1rem;
    }

    .loginItem:hover {
        background-color: rgba(0,0,0,0);
    }

    .bigParagraph {
        display: block;
        margin: 0 0 -1.2vw 8vw;
    transform: rotate(-90deg);
    transform-origin: bottom left;

    font-size: 1.5em;
    }
    .bigThinParagraph {
        display: block;
        transform-origin: bottom left;
        font-weight: 300;
        margin: 0px 0 5px 9vw;

    transform: rotate(-90deg);
    transform-origin: bottom left;
    font-size: 1.2em;
    }
        .slideDetails {
    grid-column: 2 / 4;
    grid-row: 1/10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.navigationLinks {
    grid-column: 7 / 10;
    grid-row: 7/10;
    width: 100%;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-self: flex-end;
    font-size: 1.5em;
    font-weight: 700;
}


    .navigationLinks > a {
        margin-right: 0px;
        height: 5vh;
        display: flex;
        align-items: center;
        transition: 0.5s;
    }


    .slideController {
        display: flex;
        justify-self: flex-end;
        align-self: flex-end;
        width: 100%;
    }

    .navigationLinks > a:last-child {
        color: #1F2125;
        width: 250px;
        height: 50px;
        border-radius: 500px;
        display: flex;
        justify-content: center;
        background-color: #4580D9;
        transition: 0.5s;
    }

        .navigationLinks > a:last-child:hover {
            color: #4580D9;
            background-color: white;
            transition: 0.5s;
        }

    .navbar-text{
        font-size: small;
    }
    .navbar-text > b {
        font-size: medium;
    }

    .sliderText {
        position: absolute;
        z-index: 1;
        font-size: 15vw;
        color: #C3A261;
        margin: 0;
    }

.sliderImg {
    position: absolute;
    z-index: 2;
    max-width: 25vw;
}

    .products {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 25px;
    }

    .productTitle {
        display:block;
font-size: 2em;
color: #C3A261;
}

    .productContainer {
        width: 33%;
        height: 300px;
        display: flex;
        justify-content: space-between;
    }



    .productDescription {
        position: relative;
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }




    .productImage > img {
        max-width: 200px;
        transition: 1s;
        position: absolute;
        /*margin-top: 65px;*/
        z-index: 1;
    }



        .productImage > img:hover {
            max-width: 220px;
        }

    .productsRec p {
        width: 200px;
        padding: 25px;
        margin-top: 25px;
        
        border-radius: 15px;
    }

    .showDown p {
        width: 400px;
    }

.SocialMediaIcons {
    width: 20%;
}

.storeProducts {
margin: 50px 0 50px 0;
display: flex;
grid-column: 1/ 11;
width: 80vw;
grid-row: 3/4;
flex-direction: column;
}

.storeProductContainer {
display: inline-flex;
height: auto;
width: 100%;
align-items: center;
background: linear-gradient(90deg, #1F2125 0%, #343841 100%);
margin-bottom: 25px;
justify-content: space-between;
border-radius: 25px;
flex-direction: row;
}


.storeProductContainer:nth-child(odd) {
    flex-direction: row-reverse;
    background: linear-gradient(-90deg, #1F2125 0%, #343841 100%);
    flex-direction: row;

}
    .storeProductContainer:nth-child(odd) > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .storeProductContainer:nth-child(odd) > a {
        justify-content: flex-end;
    }

.storeProductContainer:nth-child(even) > div > div > form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
    .storeProductContainer:nth-child(even) {
        flex-direction: row-reverse;
    }

    .storeProductContainer:nth-child(even) > div {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

.storeProductImage {
position: relative;
display: flex;
}

.storeProductImage > img {
    max-width: 100%;
}

.storeProductDescription {
margin: 25px;
}

.storeProductDescription > h2 {
    margin-bottom: 25px;
}

    .storeShop {
        width: 150px;
        height: 50px;
        border: 2px solid #C3A261;
        color: #fff;
        background-color: rgba(255, 0, 0, 0);
        font-weight: 700;
        margin: 25px 0 0 25px;
        cursor: pointer;
    }

        .storeShop:hover {
            border: 2px solid #C3A261;
            background-color: rgba(255, 0, 0, 0);
            color: #4580D9;
        }


.storeButtonsList {
display: flex;
width: 100%;
justify-content: center;
flex-direction: column;
margin: 35px 0 5px 0;
}

.storeButtonsList > form {
    display: flex;
    justify-content: center;
}

.storeWatchName {
display: flex;
justify-content: center;
position: relative;
font-size: 2rem;
color: #C3A261;
margin: 0;
width: 100%;
}

.storeWatchDesc {
font-size: 1.3rem;
width: 80%;
}



}

/*####################################################### CART Style HERE #############################################################*/

#cartTable {
    grid-column: 2/10;
    grid-row: 3/4;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: black;
    padding-top:20vh;
    padding-bottom:20vh;
}

.cart-container {
    height: 75%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    color:black;

}

.cart-firstrow {
    display: grid;
    grid-template-columns: 5% 30% 20% 20% 30%;
    grid-template-rows: auto;
    text-align: left;
}

.cart-firstrow > a {
    margin-top: 15px;
    color: black;
}

.cart-container-Product {
    grid-column: 2;
    grid-row: 1;

}

.cart-container-Price {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    margin-right: 90px;
}

.cart-container-Quantity {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    margin-right: 40px;
}


.cart-container-middleSection {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart-middle-content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.cart-removeButton {

    margin-right: 1px;
}


.cartBottom {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    background-color: #1F2125;
}

.cartBottom > input {
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cart-container-bottom {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1vw 4vw 1vw 0;
}

.cartTotal{
    margin-right: 10px;
}

.cart-product-details {
    margin-left: -7vw;
}

.cart-delete {
    width: 200px;
    height: 50px;
    border-radius: 500px;
    border: none;
    background-color: #C3A261;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

    .cart-delete:hover {
        background-color: white;
        border: solid 2px #C3A261;
        color: #C3A261;
    }

.cart-shop {
    width: 200px;
    height: 50px;
    border-radius: 500px;
    border: none;
    background-color: #C3A261;
    font-weight: 700;
    color: white;
    margin: 15px 0 0 0;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cart-shop > a {
    text-align: center;
} 

.cart-shop:hover {
    background-color: #1F2125;
    border: solid 2px #C3A261;
    color: white;
}

.marginOnRight {
    margin-right: 2vw;
}

.cart-bottom-line {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
    width: 90%;
}

.cart-middle-name {
    font-size: 2em;
}

.cart-middle-desc {
    font-size: 1em;
}


#ThreeDPage {
    position: absolute;
    grid-column: 1/11;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
    display: grid;
}

.guiContainer{
    grid-column: 1/3;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;

}

#threeGui {
    position: absolute;
    z-index: 1;
    height: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    transition: 3s ease-in-out;
}

#GUI {
    padding: 0px;
    min-width: 50%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
    
}


    #GUI > li:nth-child(even) {
        background-color: rgba(0, 0, 25,0.5);
    }


#canvas {
    z-index: 0;
    position: absolute;
    opacity: 0;
}
.guiPartType{
    font-size: 1rem;


}

.GUIlist {
    display: flex;
    width: 80%;
    height: 100%;
    cursor: pointer;
    padding: 2vh 10% 2vh 10%;
    justify-content: space-between;
    align-items: center;
}

.GuiOption {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #4580D9;
}


.GUIlist:hover {
    background-color: #4580D9;
    color: white;
}

.hidden {
    display: none;
}

.activeOption, .inactiveOption {
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding:10px 10px 10px 50px;
    margin: 0;
}

    .inactiveOption:hover {
        background-color: white;
        color: #4580D9;
    }


.activeOption {
    background-color: rgba(0,0,0,0.5);
    color: white;
    
}
.arrow {
    transition: 0.5s;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#loaderContainer{
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background-color: #4580D9;
    width: 0%;
    height: 90%;
    opacity: 1;
}
.loadingFull{
    height: 100vh;
    transition: 1s;
}
.buttonContainer {
   grid-column: 8/10;
   grid-row: 9/10;
   width: 100%;
   height: 100%;
    display: inline-flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    align-items: flex-end;
}
.btn{
    height: 50px;
    width: 200px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 50px;
    white-space: nowrap;
}

.buttonContainer > button {
    min-width: 200px;
}

#ThreeDBackgroundSelector {
    grid-column: 9/10;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#bgDropDown {
    display: flex;
    width: 100%;
    height: 50%;
    cursor: pointer;
    padding: .3vw 1% .3vw 2%;
    justify-content: space-between;
    align-items: center;
}

