
@{
    ViewData["Title"] = "Index";
}


<section id="about">
    <div id="aboutContent">
        <h2 class="about">Meet The Team</h2>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
            Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
            blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
        </p>
    </div>



    <div id="TeamLits">
        <div class="teamElement">
            <img src="~/Images/Developers/Adam.png" alt="Adam" />
            <h2>Ádám János Horváth</h2>
            <p>Backend, Database and 3D implementation</p>
        </div>
        <div class="teamElement">
            <img src="~/Images/Developers/Kristian.jpg" alt="Kristian" />
            <h2>Kristian Toft</h2>
            <p>Backend, UX</p>
        </div>
        <div class="teamElement">
            <img src="~/Images/Developers/Peter.jpg" alt="Peter" />
            <h2>Peter Rud Frankild</h2>
            <p>UX and UI</p>
        </div>
        <div class="teamElement">
            <img src="~/Images/Developers/MeTwo.png" alt="Robikam" />
            <h2>Robert Csöllei</h2>
            <p>UI, Front-end, 3D implementation and Graphics</p>
        </div>
    </div>

</section>