
@{
    ViewData["Title"] = "Index";
}



<section id="contact">

    <div id="contactContent">
        <h3 class="contact"> Contact</h3>
        <ul id="contactTexts">
            <p class="placeText"> Europa</p>
            <li class="contactContactsItem abouttext">Adress: <br /><address>London, England</address></li>
            <li class="contactContactsItem abouttext">Phone: <br /><address>09 999 9999 99</address></li>
            <li class="contactContactsItem abouttext">Email: <br />info@paradimgwatch.com</li>
        </ul>
        <ul id="contactContact">
            <p class="placeText"> Asia</p>
            <li class="contactContactsItem abouttext">Adress: <br /><address>Sydney, Australia</address></li>
            <li class="contactContactsItem abouttext">Phone: <br /><address>09 999 9999 99</address></li>
            <li class="contactContactsItem abouttext">Email: <br />info@paradimgwatch.com</li>
        </ul>
    </div>
    <div id="map"></div>

</section>

<script src="~/js/GoogleMaps.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRlYOm2KMsGkxmUiSA21Y8M6WuZ_axavc&callback=initMap" async defer></script>

