@using ParadigmModular.Models.ViewModels;
@model IEnumerable<WatchViewModel>
@{
    ViewData["Title"] = "Paradigm watch";
}

@*<section id="hero">



    <div class="heroContent">
        <aside class="sideText">
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Award winning</h4>
                <p class="bigThinParagraph">By GTFO congress</p>
            </div>
            <div class="sideTextContainer">
                <h4 class="bigParagraph">Swiss design</h4>
                <p class="bigThinParagraph">3000 moving parts</p>
            </div>

        </aside>


        <div class="slideCounter">
            <p id="currentSlide">01</p>
            <p class="classesRemaining">/03</p>
        </div>

        <div class="slideController">
            <div class="slideControllerButtons">
                <div id="back" class="control"><</div>
                <div id="next" class="control">></div>
            </div>
            <div class="slideControllerButtons">
                <p class="lightParagraph sliderControlLabel">Back</p>
                <p class="lightParagraph sliderControlLabel">Next</p>
            </div>
        </div>


        <div class="slideDetails">
            <h2 class="productTitle">Apollo</h2>
            <p class="productShort">“MY AMAZING MOTTO IS SO GREAT, THAT IS UNSPEAKABLE”</p>
        </div>

        <div class="navigationLinks">
            <a id="secondaryLink" class="secondaryLink">Learn More</a>
            <a id="primaryLink" class="primaryLink">Build your own</a>
        </div>


        <div class="arrowController">
            <a id="arrowButton" href="#disclaimer"></a>
        </div>
    </div>
    <div class="slider">
        @foreach (var item in Model)
        {
            <div class="content wrapper">

                <div class="sliderElement" id="@item.Watch.Id">
                    <img class="sliderImg" src="~/Images/@item.Watch.WatchImagePath" alt="@item.Watch.Name" />
                    <h2 class="sliderText">@item.Watch.Name.ToUpper()</h2>

                </div>

            </div>

        }


    </div>

</section>

<script src="~/js/main.js" type="text/javascript"></script>*@