
 

﻿    <footer>
        <div id="share">
            <h3 class="subTitle">Share:</h3>
            <ul class="SocialMediaIcons">
                <li class="MediaLink">
                    <a href="http://facebook.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="MediaLink">
                    <a href="http://linkedin.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="MediaLink">
                    <a href="http://twitter.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="MediaLink">
                    <a href="http://google-plus.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li class="MediaLink">
                    <a href="http://instagram.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="MediaLink">
                    <a href="http://pinterest.com" target="_blank" class=" btn-sm btn-secondary navbar-btn">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
            </ul>


        </div>
        <div id="footerContent">
            <ul id="footerlinks">
                Discover more
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Store">Store</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="About">About</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Contact">Contact</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Login">Login / Register</a></li>
            </ul>
            <ul id="footerContacts">
                If you have any question reach out!
                <li class="footerContactsItem">Adress: <br /><address>Marilin road 94, st. 1</address></li>
                <li class="footerContactsItem">Phone: <br /><address>09 87 557 411</address></li>
                <li class="footerContactsItem">Email: <br />info@paradimgwatch.com</li>
            </ul>
        </div>
    </footer>

