
<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel="stylesheet" />
    <link href="~/sass/Main.min.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/Logo.png">

    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">


    <title>@ViewBag.Title</title>
</head>
<body>



    <div id="page">

        @await Html.PartialAsync("_MenuBarTop")

        @RenderBody()

        @if (Url.RouteUrl(ViewContext.RouteData.Values) != "/ThreeD")
        {
            @await Html.PartialAsync("_FooterView")

        }


    </div>
    <script src="~/js/Shared.js" type="text/javascript"></script>
   
</body>
</html>