<nav>
    <div id="navContent">
        <div class="logo">
            <img src="~/Images/Logo.png" alt="Logo" />
            <h2>Paradigm<br />Watch</h2>
        </div>
        <div class="mobileContainer">
            <div id="burgerMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul id="mobile1" class="navigation">
                <li class="navigationItem ">
                <a id="active"  asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="navigationItem">
                <a asp-action="Index" asp-controller="Store">Store</a></li>
                <li class="navigationItem"><a asp-controller="About" asp-action="Index">About</a></li>
                <li class="navigationItem"><a asp-controller="Contact" asp-action="Index">Contact</a></li>
            </ul>
            <ul id="mobile2" class="login ">
                <li class="loginItem"> @await Component.InvokeAsync("CartSummary")</li>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <li class="loginItem"><a asp-controller="Login" asp-action="Logout" class=" btn-danger">Logout</a></li>
                }
                else {
                    <li class="loginItem"><a asp-controller="Login" asp-action="Index">Login / Register</a></li>
                }
            </ul>
        </div>
    </div>
</nav>