<div class="sortProduct">
    <div class="sortContent">
        <div class="sortType">
            <div id="GridViewID" class="sortGrid">
                <div class="sortGridRow">
                    <div class="sortGridBox"></div>
                    <div class="sortGridBox"></div>
                </div>
                <div class="sortGridRow">
                    <div class="sortGridBox"></div>
                    <div class="sortGridBox"></div>
                </div>
            </div>
            <div id="ColumnViewID" class="sortList">
                <div class="sortListRow">
                    <div class="sortListBox"></div>
                    <div class="sortListBox"></div>
                    <div class="sortListBox"></div>
                </div>
                <div class="sortListRow">
                    <div class="sortListRectangle"></div>
                    <div class="sortListRectangle"></div>
                    <div class="sortListRectangle"></div>
                </div>
            </div>
        </div>
        <div class="sortBy">
            <label for="sortOrder" class="selector">Select by:</label>
            <select id="sortOrder">
                <option value="A-Z">A to Z</option>
                <option value="Z-A">Z to A</option>
            </select>
        </div>
    </div>
    <div class="separator"></div>
</div>